.register-event{
    width: 300px;
    height: 300px;
    display: grid;
    text-align: center;
    margin-left: 100px;
    padding-top: 20px;
    gap: 15px;
}
.register-top{
    width: 500px;
    height: 660px;
    background-color: rgb(52, 50, 50);
    border-radius: 15px;
    position: relative;
    top: 5px;
    left: 380px;
}
#outlined-basic{
    background-color: aliceblue;
    border-radius: 10px;
    outline: none;
}
#demo-simple-select{
    background-color: aliceblue;
    border-radius: 10px;
    outline: none;
}
.register-top h1{
    color: white;
    padding-left: 70px;
    padding-top: 20px;
}
.register-btn{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 30px;
}
#date{
    width: 300px;
    background-color: aliceblue;
    border-radius: 10px;
    outline: none;
    position: relative;
    left: 100px;
    top: 40px;
}
.startDate{
    background-color: aliceblue;
    border-radius: 5px;
    
}
.endDate{
    background-color: aliceblue;
    border-radius: 5px;
}